    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class=" services item col-sm-6 sol-md-3 col-lg-4">
                        <h3 >Services</h3>
                            <ul >
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Web Design</a></li>
                            </ul>
                    </div>

                    <div class="about item col-sm-6 sol-md-3 col-lg-4">
                        <h3 >About</h3>
                            <ul >
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">More</a></li>
                            </ul>
                    </div>

                    <div class="col-sm-6 sol-md-6 services item text col-lg-4">
                        <h3 >Company Name</h3>
                           <p>
                               <strong>Wolf Traders</strong>
                           </p>
                    </div>

                    <div class="col item social mt-3"><a href="#"><i class="fab fa-instagram-square"></i></a><a href="#"><i class="fab fa-facebook-square"></i></a><a href="#"><i class="fab fa-twitter-square"></i></a></div>
                </div>
                <p class="copyright">Wolf Trade &copy; 2002</p>
            </div>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </body>
    </html>