
<nav class="navbar  navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/landing"><img src="https://cdn-icons-png.flaticon.com/512/4584/4584218.png" width="24" height="30" style="filter: invert(1)"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
      
          <%if(currentUser){%>
            <%if(currentUser.category=="seller"){%>
          <li class="nav-item">
            <a class="nav-link" href="/home/new">New</a>
          </li>
          <%}%>
          <li class="nav-item">
            <a class="nav-link " href="/landing#self">About</a>
          </li>
        </ul>
        
        <p class="mx-auto" style="color: aliceblue;">Welcome Back <span class="text-uppercase" style="font-weight: bold;"><%=currentUser.username%></span></p>
        
        <ul class="navbar-nav d-flex mx-2"><li class="cart" style="color: white;font-size: 18px;"><a href="/user/cart"><i class="fas fa-shopping-cart"></i></a></li></ul>
        <form class="d-flex" action="/logout" method="GET">
          <button class="btn btn-sm btn-danger">Logout</button>
        </form>
        <%}%>
        <%if(!currentUser){%>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/signup">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
       <%}%>
      </div>
    </div>
  </nav>