/* .card{
    cursor: pointer;
    overflow: hidden;
    border:1px solid black;
    box-shadow:3px 3px 3px black,-3px -3px 3px black;
    width: 16rem;
    height:350px;
} */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.bg-grey{
background-color: grey;;
}
.buttons{
    display:inline-block;
}
#ss{
    display:inline-block;
}
.cart{
    cursor: pointer;
}
.cart a{
    color:white;
}
.cart:hover{
    transform: scale(1.12);
}
.crt{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
/* #prodimg{
    width: 100%;
    height:70%;
} */
.nav-item{
    margin-left: 4px;
    padding: 3px;
}
.nav-item:hover{
border:1px solid rgb(31, 31, 197);
background-color: rgb(31, 31, 197);
border-radius: 2px;
}
/* .btn{
    width:80px;
    margin:2px auto;
} */
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    margin-top: 30px !important;
  }
  
  legend.scheduler-border {
      font-size: 1.2em !important;
      font-weight: bold !important;
      text-align: left !important;
      width: auto;
      padding: 0 10px;
      border-bottom: none;
      margin-top: -15px;
      background-color: white;
      color: black;
    }
    .bb{
    border:2px solid #fd9e02;
    width: 250px; height: 350px;
        overflow: hidden;
    }
    .intro{
        background-color: black;
        color:#acedff;
    }
    .desc{
        font-size: 1.2rem;
        text-align:center;
    }
    .desc .card{
        border:2px solid white;
    }
    /* .card{
        width: 250px; height: 350px;
        overflow: hidden;
    } */
    
    .sec-2{
        background-color:#000814;
        color:#fff;
    }
    /* @media screen and (max-width:980px) {
        .sec-2{
            height:1000px;
        }
        .card{
            margin-top:10px;
        }
    } */
    .sec-3{
     color:#fff;
        background-color:#000814;
        
    }

    /* .card{
        width:5px;
    } */
/* .row{
    display:flex;
    justify-content:space-;
} */
.card-header{
    background-color:#fd9e02;
    text-align: center;
    border-bottom: none;
}
/* rotating card */

.flip-card {
    background-color: transparent;
    /* position: relative; */
    float:right;
    /* clear: left; */
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
  }
/*  footer styling */
.footer-dark{
    position: sticky;
    margin-bottom: 0;
    padding:60px 0;
    background-color: black;
    color:white;
}

.footer-dark h3{
    margin-top:0;
    margin-bottom:10px;
    font-weight:bold;
    font-size:16px;
    text-align: center;
}

.footer-dark ul{
    list-style: none;
    padding:0;
    line-height: 1.4;
    font-size:14px;
    margin-bottom: 0;
    width:100%;
}
.footer-dark ul li{
   text-align: center;
}

.footer-dark ul a{
    color:inherit;
    text-decoration: none;
    opacity: 0.5;
}

.footer-dark ul a:hover{
    opacity:0.7;
}

.footer-dark .item.text{
    margin-bottom: 36px;
}

.footer-dark .item.text p{
    opacity: 0.6;
    margin-bottom:0;
    text-align: center;
}

.footer-dark .item.social {
    margin-top: 5px;
    text-align: center;
}

.footer-dark .item.social>a{
    font-size:36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 21%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
    margin:0 6px;
    color:#fff;
    opacity: 0.8;
}

.footer-dark .item.social>a:hover{
    opacity:0.95;
}
.footer-dark .copyright{
    text-align: center;
    padding-top:24px;
    opacity: 0.3;
    font-size: 14px;
}

.login{
    padding: 30px;
    width: 350px;;
    margin:5px auto;
}
.login button{
    margin:5px;
}
.log-main{
    margin:5px 0px;
}

@media screen and (max-width:1086px) {
    .social,.about{
        margin-bottom: 3px;
        margin-top: 3px;
    }
}