<%-include('./partials/navbar.ejs')%>
<%-include('./partials/header.ejs')%>

<div class="container">
    <div>
        <%-include('./partials/flash.ejs')%>
    </div>
    <div class="container" style="color:white;background-color:  maroon;">
        <h1 class="text-center" >OHHH NO !!!</h1>
        <p class="text-center text-wrap" style="width:100%;font-weight: bold;font-size: 1.85rem;">Alien's Sitenapped the link u were searching for</p>
        <img class=" imm" src="https://media.istockphoto.com/photos/alien-picture-id664373658?b=1&k=20&m=664373658&s=170667a&w=0&h=Gt8n3xXyihdMIuc2_S-2U-uR8i-TvSyXGLFMWvpGswE=" alt="">
    </div>
</div>



<%-include('./partials/footer.ejs')%>
