<%-include('./partials/navbar.ejs')%>
<%-include('./partials/header.ejs')%>

<div class="container">
    <div>
        <%-include('./partials/flash.ejs')%>
    </div>
    <h1>Error Page!!</h1>
</div>



<%-include('./partials/footer.ejs')%>
